.event-head {
    width: 100%;
    color: #651D32
}

.event-head h1 {
    display: flex;
    justify-content: center;
}

.event-head p {
    display: flex;
    justify-content: center;
}

.event-head span {
    font-weight: bold;
}