.event-head {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-head h1 {
    display: flex;
    justify-content: center;
}

.event-head p {
    display: flex;
    justify-content: center;
}

.event-head span {
    font-weight: bold;
}